body {
    padding-top: 100px; /* required with .navbar-fixed-top */
}
p.author, p.date {
    display: none;
}

blockquote {
    padding-left: 2rem;
}

/* override bootstrap to make figcaptions a bit smaller. */
.figure-caption {
    font-size: .7em;
}
